body {
    background-color: rgba(190, 164, 78, 0.651);
    color: black;
    margin: 50px;
}

.nav {
    list-style-type: none;
    display: flex;
    padding: 10px;
}

.city-menu {
    display: flex;
    flex-wrap: wrap;
}

.city-title {
    text-decoration: underline;
}

.store-menu{
    padding: 20px;
}

.notes {
    display: flex;
    padding: 50px
}

#days-together{
    padding: 20px;
    font-size: 60px;
    font-weight: bold;
}

#number-days {
    padding: 20px;
    font-size: 40px;

}

#sessions{
    list-style-type: none;
}

#nope-items {
    text-decoration: line-through;
}
    

@media screen and (max-width: 600px) {
    .nav {
        display: block;
    }
    
}